.hr-form {
    border:1px solid #2A3F54;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform:
        /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.img-w-150{
    max-width: 150px !important;
}

.img-w-250{
    max-width: 250px !important;
}

.img-h-150{
    max-height: 150px !important;
}

.img-h-250{
    max-height: 250px !important;
}