.prs_navigation_main_wrapper,.prs_animate_btn1 .prs_upcom_main_btn::before, .prs_animate_btn1 .prs_upcom_main_btn::after,.prs_video_sec_icon_wrapper li a,.prs_webseri_video_img_sec_icon_wrapper li a,.prs_webseri_video_sec_icon_wrapper li a,.prs_feature_slider_wrapper .owl-theme .owl-nav .owl-prev,.prs_feature_slider_wrapper .owl-theme .owl-nav .owl-next,.prs_ft_btn_wrapper li a,.prs_vp_center_slider .owl-theme .owl-nav .owl-prev,.prs_vp_center_slider .owl-theme .owl-nav .owl-next,.prs_pn_slider_wraper .owl-theme .owl-nav .owl-prev,.prs_pn_slider_wraper .owl-theme .owl-nav .owl-next,.prs_newsletter_wrapper,#return-to-top,.metis.tparrows:hover,.prs_video_navi_overlay_wrapper a,.prs_about_pre_right_slider_sec_wrapper .owl-theme .owl-nav .owl-prev,.prs_about_pre_right_slider_sec_wrapper .owl-theme .owl-nav .owl-next,.trucking_counter .con,.hs_blog_box1_img_wrapper .owl-theme .owl-nav .owl-prev:hover, .hs_blog_box1_img_wrapper .owl-theme .owl-nav .owl-next:hover,.prs_ms_scene_img_overlay li a,.prs_mcc_left_searchbar_wrapper button,.prs_bs_about_img_cont_wrapper,.hs_kd_six_sec_btn li a,.prs_contact_input_wrapper li a,.prs_contact_right_section_wrapper,.prs_contact_info_smallbox,.prs_es_tabs_wrapper .nav > li.active > a,.prs_es_speak_slider_wrapper .owl-theme .owl-nav .owl-prev,.prs_es_speak_slider_wrapper .owl-theme .owl-nav .owl-next,.prs_es_faq_left_wrapper,.accordionFifteen .panel .panel-heading a:after,.prs_es_pt_heading_box_wrapper,.prs_es_pricing_btn_wrapper li a,#filter li a:hover, #filter li a.active,.prs_mc_slider_wrapper .owl-theme .owl-nav .owl-prev,.prs_mc_slider_wrapper .owl-theme .owl-nav .owl-next,.prs_mcc_right_side_heading_wrapper .nav-pills > li.active > a, .prs_mcc_right_side_heading_wrapper .nav-pills > li.active > a:hover, .prs_mcc_right_side_heading_wrapper .nav-pills > li.active > a:focus,.prs_mcc_list_right_cont_wrapper a:hover,.prs_mcc_list_bottom_cont_wrapper li:last-child a:hover,.prs_ms_trailer_vid_icon_wrapper li a,.prs_ms_trailer_slider_left_wrapper .owl-theme .owl-nav .owl-prev,.prs_ms_trailer_slider_left_wrapper .owl-theme .owl-nav .owl-next,.prs_ms_scene_slider_wrapper .owl-theme .owl-nav .owl-prev,.prs_ms_scene_slider_wrapper .owl-theme .owl-nav .owl-next,.prs_ms_rm_slider_wrapper .owl-theme .owl-nav .owl-prev,.prs_ms_rm_slider_wrapper .owl-theme .owl-nav .owl-next {
    background: #ff9344;
}

.prs_slidebar_wrapper button,.dl-menuwrapper button,.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
    background: #ce7738;
}

.metis.tparrows,.hs_blog_box1_img_wrapper .owl-theme .owl-nav .owl-prev,.hs_blog_box1_img_wrapper .owl-theme .owl-nav .owl-next {
    background: rgba(255, 147, 68, 0.78);
}

.prs_upcome_tabs_wrapper .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #ff9344;
}

.prs_upcome_tabs_wrapper .nav > li > a:hover, .prs_upcome_tabs_wrapper .nav > li > a:focus {
    background: #ff9344;
}

.prs_heading_section_wrapper h2:before,.prs_theater_sec_heading_wrapper h2:before,.prs_footer_cont1_wrapper h2:before, .prs_ap_left_img_cont_wrapper h2:after,.prs_about_pre_right_slider_sec_cont_wrapper h2:after,.prs_bc_right_about_wrapper h2:before,.prs_mcc_bro_title_wrapper h2:before,.prs_blog_right_sub_btn_wrapper h2:before,.prs_bs_comment_heading_wrapper h2:before,.prs_contact_left_wrapper h2:after,.prs_ec_pe_heading_section_wrapper h2:before,.prs_es_about_left_wrapper h2:before,.prs_es_faq_right_wrapper h2:after,.prs_mcc_event_title_wrapper h2:before,.prs_mcc_right_side_heading_wrapper h2:before,.prs_movie_cast_heading_wrapper h2:before,.prs_syn_cont_wrapper h3:after {
    border: 2px solid #ff9344;
}

.prs_upcom_movie_img_btn_wrapper li:first-child a, .prs_upcom_movie_img_btn_wrapper li:last-child a:hover,.prs_upcom_movie_content_box_inner_icon li a:hover,.prs_upcom_slider_slides_wrapper .owl-theme .owl-nav .owl-prev:hover, .prs_upcom_slider_slides_wrapper .owl-theme .owl-nav .owl-next:hover,.prs_upcom_slider_slides_wrapper .owl-theme .owl-nav .owl-prev:hover, .prs_upcom_slider_slides_wrapper .owl-theme .owl-nav .owl-next:hover,.prs_footer_social_wrapper li a:hover,.prs_blog_right_sub_btn_wrapper li a,.pagination > li:first-child > a,.pagination > li:last-child > a,.prs_mcc_list_bottom_cont_wrapper li:first-child a {
    background: #ff9344;
    border: 1px solid #ff9344;
}

.prs_upcom_movie_img_btn_wrapper li:first-child a:hover, .prs_upcom_movie_img_btn_wrapper li:last-child a,.hs_blog_cont_heading_wrapper li:first-child:after,.prs_mcc_list_bottom_cont_wrapper li:last-child a {
    border: 1px solid #ff9344;
}

.prs_upcom_movie_content_box h2 a:hover, .prs_upcom_movie_content_box i, .prs_upcom_slider_slides_wrapper .owl-theme .owl-nav .owl-prev, .prs_upcom_slider_slides_wrapper .owl-theme .owl-nav .owl-next,.prs_upcom_video_img_cont_over li i,.prs_prs_webseri_video_sec_icon_cont_wrapper p,.prs_prs_webseri_video_sec_icon_cont_wrapper li i,.prs_in_right_box_img_cont_wrapper h2 a:hover,.prs_in_right_box_img_cont_wrapper h3,.prs_in_right_box_img_cont_wrapper li i,.prs_feature_img_cont h2 a:hover,.prs_ft_small_cont_right i,.prs_vp_img_overlay a,.prs_newsletter_field button,.prs_footer_cont1_wrapper li i,.prs_footer_cont1_wrapper li a:hover,.prs_footer_cont1_wrapper_4 h5 span,.prs_bottom_footer_cont_wrapper p a,.mobile-logo .manu-close:hover,.mobile-list-nav > li:hover > a,.lg-submenu li i,.xv-menuwrapper .dl-menu > li.parent.megamenu li a:hover,.prs_title_heading_wrapper li,.prs_about_pre_right_slider_sec_cont_wrapper li i,.prs_about_team_first_mem_wrapper:hover .prs_about_first_mem_img_cont_wrapper h2 a,.hs_blog_cont_heading_wrapper li,.hs_blog_cont_heading_wrapper h5 a,.hs_blog_box1_bottom_cont_left li i,.hs_blog_box1_bottom_cont_left li a:hover, .hs_blog_box1_bottom_cont_right li a:hover,.prs_bc_right_about_wrapper h5 a,.prs_mcc_bro_title_wrapper li i,.prs_mcc_bro_title_wrapper li a:hover,.hs_footer_ln_cont_wrapper p,.prs_title_heading_wrapper li a:hover,.prs_bs_admin_cont_wrapper h5,.hs_rs_comment_img_cont_wrapper h2 span,.hs_rs_comment_img_cont_wrapper h2 a,.prs_ec_ue_right_img_cont .prs_up_pera_sec a,.prs_es_left_map_section_wrapper h3,.prs_es_tabs_event_sche_img_cont_wrapper h3,.prs_es_tabs_event_sche_img_cont_wrapper li i,.prs_es_tabs_event_sche_img_cont_wrapper li a:hover,.prs_mcc_event_title_wrapper p span i,.prs_mcc_event_title_wrapper h4,.prs_mcc_event_title_wrapper h3 a:hover,.prs_mcc_list_left_cont_wrapper p i,.prs_mcc_list_left_cont_wrapper h4,.prs_mcc_list_right_cont_wrapper a,.prs_ms_trailer_slider_right_wrapper h2 span,.prs_ms_trailer_slider_right_wrapper li span,.prs_ms_cast_img_cont_wrapper h4 a:hover,.mobile-nav-box .achivement-blog ul > li > a:hover,.mobile-nav-box .achivement-blog ul > li > a:hover h6,.mobile-nav-box .achivement-blog ul > li > a:hover span {
    color: #ff9344;
}

.prs_upcom_main_btn:hover {
    color: #ff9344 !important;
}

.prs_at_social_main_wrapper ul {
    background: rgba(255, 147, 68, 0.81);
}

.trucking_counter .con:after,.prs_contact_right_section_wrapper:after,.prs_contact_info_smallbox:after,.prs_es_pt_heading_box_wrapper:after {
    background: #d27835;
}

.prs_blog_right_sub_btn_wrapper li a:hover,.hs_kd_six_sec_btn li a:hover,.prs_contact_input_wrapper li a:hover {
    border: 1px solid #ff9344;
    color: #ff9344;
}

.mobile-logo a svg {
    fill: #ff9344;
}
